*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

.trainees{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerTrainees{
    width: 87%;    
    margin-left: auto;
}

.headerTitle {
    display: inline-block;
    width: 100%;
    padding: 20px;
    border-bottom: 3px solid black;
    margin-left: auto;
}

/* Styling for the header title */
.headerTitle h2{
    font-size: 2em;
}

.title-page{
    width: 100%;
}

.buttons{
    width: 100%;
    padding: 20px;
    
}

.btn{
    padding: 5px;
    background-color: rgb(85, 132, 250);
    border-radius: 3px;
    border: 1px rgb(83, 84, 83) solid;
    margin: 5px;
    color: #fff;
    width: auto;
}

#addStudent, #save{
    width: 100%;
    margin: 0px;
    display: block;
}
.addTask-feedback{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}
#addTask, #feedback {
    width: 45%;
    margin: 0;
    
}

#SearchByName{
    background-color: #222;
    border-radius: 4px;
    border: #5d5d5d 1px solid;
    width: 40;
}
.fa-save,
.fa-search,
.fa-plus-circle{
margin: 3px;
}

.btnSave{
    margin-top: 10px;
    margin-bottom: 10px;
}

#save{
    padding: 10px;
    font-size: larger;
}

.table-trainees{
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,td {
    background-color: rgb(85, 132, 250);
    color: #fff;
    padding: 10px;
}

td, th {
    
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #5d5d5d;
}


.inputsStudent{
    text-align: center;
    display: none;
    margin-top: 5px;
    color: #2e2d2d;

}
.inputs-feedback input,
.inputsStudent input{
    border-radius: 4px;
    border: 1px solid #666666;
}


#inputs-addTask-feedback,
#inputs-addTask,
#inputs-feedback{
    display: none;
}

#studentsNamesSelect{
    display: block;
}

@media screen and (max-width: 768px) {
    .containerTrainees {
        width: 100%;
        margin-left: 0;
    }

    .headerTitle {
        padding: 15px;
    }

    .headerTitle h1 {
        font-size: 1.5em;
    }

    .buttons {
        padding: 10px;
    }

    .btn {
        width: 100%;
        margin: 5px 0;
    }

    .inputsStudent {
        margin-top: 10px;
    }

    .inputsStudent label,
    .inputsStudent input {
        width: 100%;
    }

    .addTask-feedback {
        flex-direction: column;
    }

    #inputs-addTask-feedback {
        flex-direction: column;
    }

    #inputs-addTask,
    #inputs-feedback {
        width: 100%;
        margin-top: 10px;
    }

    #inputs-addTask label,
    #inputs-feedback label,
    #inputs-addTask input,
    #inputs-feedback select,
    #inputs-feedback textarea {
        width: 100%;
    }

    .table-trainees {
        padding: 10px;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }

    
    @media screen and (max-width: 390px) {
        /* Styles for screens up to 390px */

        .headerTitle h1 {
            font-size: 1.2em;
        }

        .buttons {
            padding: 5px;
        }

        .btn {
            padding: 3px;
            font-size: 0.8em;
        }

        .inputsStudent label,
        .inputsStudent input,
        #inputs-addTask label,
        #inputs-addTask input,
        #inputs-feedback label,
        #inputs-feedback select,
        #inputs-feedback textarea {
            font-size: 0.8em;
        }

        .table-trainees {
            padding: 5px;
        }

        th, td {
            padding: 5px;
        }
    }
}