*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
   
}
html ,body{
    width: 100%;
    height: 100%;
}
header{
    background-image: url(../img/safar-safarov-MSN8TFhJ0is-unsplash.jpg);
    background-size: cover;
  background-position: initial;
  width: 100vw; /* Set the width to the viewport width or any desired value */
  height: 100vh;
    /* height: 100%;
    width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container{
    width: 50%;
    height: 35%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
header .container .box{
box-sizing: border-box;
border: 1px snow ;
margin: auto;
align-items: center;
text-align: center;
background-color: rgba(0, 0, 0, 0.2);
margin-top: 10px;
width: 100%;
height: 100%;
}
.box h2{
    color: rgb(0, 149, 255);
    font-size: 40px;
    font-weight: 40px;
}
.box p{
    color: aliceblue;
    font-size: 20px;
}
#btn{
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: none;       
    text-align: center;
    transition: all 0.3s ease;
    width: 50%;
    color: black;
}
#btn:hover{
    transform: scale(1.04);
    background-color: aqua;
}