.asd{
    height: 100%;
    width: 100%;
    background-color: brown;
}

.title_container{
    height: 30vh;
    background-color: chartreuse;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.title{
    height: 10vh;
    width: 20vh;
    background-color: aqua;

}
