*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

.trainers{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerTrainers{
    width: 87%;
    margin-left: auto;
}

.headerTitle {
    display: inline-block;
    width: 100%;
    padding: 20px;
    border-bottom: 3px solid black;
    margin-left: auto;
}

/* Styling for the header title */
.headerTitle h2{
    font-size: 2em;
}

.title-page{
    width: 100%;
}

.buttons{
    width: 100%;
    padding: 20px;
    
}

.btn{
    padding: 5px;
    background-color: rgb(85, 132, 250);
    border-radius: 3px;
    border: 1px rgb(83, 84, 83) solid;
    margin: 5px;
    color: #fff;
    width: auto;
}

#addTrainers, #save{
    width: 100%;
    margin: 0px;
    display: block;
}
.addTask-feedback{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}
#addTask, #feedback {
    width: 45%;
    margin: 0;
    
}

#SearchByName{
    background-color: #222;
    border-radius: 4px;
    border: #5d5d5d 1px solid;
    width: 40;
}
.fa-save,
.fa-search,
.fa-plus-circle{
margin: 3px;
}

.btnSave{
    margin-top: 10px;
    margin-bottom: 10px;
}

#save{
    padding: 10px;
    font-size: larger;
}

.table-trainees{
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,td {
    background-color: rgb(85, 132, 250);
    color: #fff;
    padding: 10px;
}

td, th {
    
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #5d5d5d;
}

.inputs-sddTask-feedback,
.inputsStudent{
    text-align: center;
    display: none;
    margin-top: 5px;
    color: #2e2d2d;

}
.inputs-sddTask-feedback input,
.inputsStudent input{
    border-radius: 4px;
    border: 1px solid #666666;
}
