body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 18% auto;
}

.navbar {
    background-color: #007bff;
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-item {
    margin: 5% 1px;
}


.nav-item a,
.nav-item i {
    text-decoration: none;
    color: white;
    font-size: 3ex;
    margin: 10%;
}

.nav-item i{
    margin: 0;
    margin-right: -5%;
    margin-left: 10%;
}

.nav-item:last-child{
    position: absolute;
    bottom: -50px;
    white-space: nowrap;
} 

.nav-item img{
    border-radius: 50%;
}

.nav-item {
    margin: 5% 1px;
    transition: background-color 0.3s;
}

.nav-item:hover {
    background-color: #0056b3;
    border-bottom: 2px solid white;
    border-radius: 5%;
}