* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(170deg , #92c9f0, #6478ec);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login {
    width: 80%;
    height: 90%;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .9);
}

.login .image{
    background-color: rgb(41, 200, 228);
    width: 60%;
    height: 100%;
}

.login .formLoginContainer{
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login .formLoginContainer .formLogin{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 100%;
    justify-content: center;
    margin: 10%;
    
}

.login .formLoginContainer .formLogin form{
    display: flex;
    flex-direction: column;
    
    
}
.login .formLoginContainer .formLogin p{
    padding: 4px;
    margin: 2px;
    
}

.login .formLoginContainer .formLogin form input{
    padding: 5px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #007bff;
    transition: .4s;
}
.login .formLoginContainer .formLogin form input:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid #205791;
    transform: scale(1.1);
}

.login .formLoginContainer .formLogin form input:focus::placeholder {
    color: #007bff; 
    
}

.login .formLoginContainer .formLogin form input[type="submit"]{
    background-color: #0095ff;
    padding: 8px;
    color: aliceblue;
    letter-spacing: 2px;
    transition: .3s;
    border-radius: 5px;
}

.login .formLoginContainer .formLogin form input[type="submit"]:hover{
    color: #0095ff ;
    transform: scale(1.1);
    background-color: aliceblue;
    border: 1px solid  #0095ff;
    cursor: pointer;
}

.login .formLoginContainer .formLogin form input[type="checkbox"], a{
    padding: 2px;
    margin: 1em;
    text-decoration: none;
    
}
.login .formLoginContainer .formLogin form  a{
    text-decoration: none;
    color: rgb(23, 18, 161);
    font-size: 10px;
}

.login .formLoginContainer .formLogin form div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.login .image{
    background-image: url('../image/alex-shutin-kKvQJ6rK6S4-unsplash.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .image h1{
    font-size: 2em;
    color: #fff;
}


@media only screen and (max-width: 768px) {
    .login {
        flex-direction: column;
    }

    .login .image {
        width: 100%;
        height: 30vh;
    }

    .login .formLoginContainer {
        width: 100%;
        height: 70vh;
    }

    .login .formLoginContainer .formLogin {
        margin: 5%;
    }
}

@media only screen and (max-width: 600px) {
    .login .formLoginContainer .formLogin form input {
        margin: 5px;
    }

    .login .formLoginContainer .formLogin form input[type="submit"] {
        padding: 5px;
    }
}
