<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="navbar">
        <div class="nav-item">
            <img alt="img" src="">
        </div>
        <div class="nav-item">
            <i class="fa-solid fa-house" style="color: #ffffff;"></i>
            <a href="../home/index.html">Home</a>
        </div>
        <div class="nav-item">
            <i class="fa-solid fa-users" style="color: #ffffff;"></i>
            <a href="#">Students</a>
        </div>
        <div class="nav-item">
            <i class="fa-regular fa-comment" style="color: #ffffff;"></i>
            <a href="#">Feadback</a>
        </div>
        <div class="nav-item">
            <i class="fa-solid fa-user" style="color: #ffffff;"></i>
            <a href="../Profile/index.html">Profile</a>
        </div>
        <div class="nav-item">
        <i class="fa-solid fa-arrow-right-from-bracket" style="color: #ffffff;"></i>
        <a href="../Login/index.html">log Out</a>
        </div>
    </div>
</body>

</html>