* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

.register {
  background-image: url(../img/wh.jpg);
  height: 100%;
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

/* Form container */
.formContainer {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 500px;
  margin: 50px auto;
}

/* Title */
h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Labels */
label {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
  display: block;
}

/* Input fields */
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  margin-bottom: 15px;
}

#firstName,
#lastName {
  width: 49%; 
  display: inline-block;
}

#lastName {
  margin-right: 0;
}


#age, #city {
  width: 49%;
}

#phoneNumber {
  width: 50%;
}

/* Input fields on focus */
input:focus {
  outline: none;
  border-color: #007bff;
}

/* Error messages */
.error-message {
  font-size: 12px;
  color: red;
  margin-bottom: 5px;
}

/* Submit button */
#submitRegister {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

#submitRegister:hover {
  background-color: #0069d9;
}
