*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

 html, body{
    width: 100%;
    height: 100%;
}

.register{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

    background: linear-gradient(170deg , #92c9f0, #6478ec);

}

.register .formContainer {
  
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register .formContainer h2{
    color: #30264f;
}
.register .formContainer form{
    width: 100%;
    padding: 10px;
}
.register .formContainer input {
    display: block;
    padding: 14px;
    margin: 20px 0; /* Adjusted margin to provide space between input fields */
    margin-top: 2px;
    width: 100%;
    border: none;
    border-radius: 2px;
    background-color: rgb(222, 222, 222);
}


.register .formContainer input[type="submit"] {
    background-color:#00365c ;
    color: #ffffff;
    font-size: 1em;
    letter-spacing: 1px;
    width: 50%;
    cursor: pointer;
}
