*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

.Feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchOptions{
    padding: 20px;
}

.containerFeedback{
    width: 87%;
    margin-left: auto;
}

.headerTitle {
    display: inline-block;
    width: 100%;
    padding: 20px;
    border-bottom: 3px solid black;
    margin-left: auto;
}

/* Styling for the header title */
.headerTitle h2{
    font-size: 2em;
}

.btn{
    padding: 5px;
    background-color: rgb(85, 132, 250);
    border-radius: 3px;
    border: 1px rgb(83, 84, 83) solid;
    margin: 5px;
    color: #fff;
    width: auto;
}

#SearchByName{
    background-color: #222;
    border-radius: 4px;
    border: #5d5d5d 1px solid;
    width: 40;
}

.table-Feedback{
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,td {
    background-color: rgb(85, 132, 250);
    color: #fff;
    padding: 10px;
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #5d5d5d;
}